.buttonStyle {
    padding: 4px 16px;
    background-color: transparent;
    color: white;
    border-radius: 4px;
    border: 1px solid white;
    font-size: 16px;
    transition-timing-function: linear !important;
    transition: background-color 200ms, color 200ms;
}

.buttonStyle:hover {
    transition: background-color 200ms, color 200ms;
    background-color: white;
    transition-timing-function: linear !important;
    color: #062F4F;
}