.headerWrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 3;
  background-color: #062F4F;
}

.headerLayout {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
  color: white;
}

.menuItems {
  display: flex;
  gap: 60px;
}

.belowBorder {
  background-color: white;
  min-height: 1px;
  width: 96%;
}

.myThing {
  width: 100px;
  height: 100px;
  background-color: red;
}

.myThingDone, .my-node-enter-done {
  width: 200px;
  height: 200px;
  background-color: red;
  transition: width 2s, height 2s
}
